@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');
@font-face {
    font-family: 'tei-le';
    src: url('../fonts/taile.ttf');
}

* {
    padding: 0px !important;
    margin: 0px !important;
    box-sizing: border-box !important;
    font-family: var(--liFont-family);
}

.font {
    font-size: var(--mainFont-size) !important;
    font-family: var(--liFont-family) !important;
}

.boxed {
    margin: 0px 110px !important;
}


/****************************Variables*******************************/

 :root {
    --mainFont-family: 'Prosto One', cursive !important;
    --mainFont-size: 15px;
    --mainColor: #79C207;
    --backgroundColor: rgba(16, 51, 72, 50%);
    --color: rgba(16, 51, 72, 100%);
    --titleFont-size: 2rem;
    --liFont-family: 'tei-le';
}


/****************************nav***********************************/

.navbar {
    background-color: transparent !important;
    background-image: linear-gradient(to top, rgba(16, 51, 72, 0), rgba(16, 51, 72, 1)) !important;
    position: fixed !important;
    z-index: 9;
    top: 0px !important;
    width: 100% !important;
}

nav div {
    margin: 25px 0px !important;
}

.navbar-collapse {
    margin-left: 105px !important;
}

.nav-item {
    margin-left: 25px !important;
    font-family: var(--mainFont-family)!important;
    font-size: var(--mainFont-size);
}

.nav-link {
    color: #fff !important;
}

.active {
    color: var(--mainColor) !important;
}

.nav-link:hover {
    color: var(--mainColor) !important;
}

.nav-icons {
    padding-left: 110px !important;
}

.nav-icon {
    color: #fff !important;
}

.nav-icon:hover {
    color: var(--mainColor) !important;
}


/*****************************slider********************************************/

.carousel-item {
    height: 100%;
}

.carousel-item img {
    height: 701px;
}

.carousel-caption {
    position: absolute !important;
    right: 0px !important;
    bottom: 0rem !important;
    left: 0% !important;
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    color: #fff;
    background-color: var(--backgroundColor);
    text-align: center;
    height: 801px;
    z-index: 0;
}

.text-slider {
    position: absolute !important;
    top: 39% !important;
    left: 30% !important;
}

.slider-icon {
    position: absolute;
    top: 300px !important;
    left: 105px !important;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: 1;
    background-color: var(--mainColor);
    width: 45px;
    height: 40px;
}

.slider-icon:hover {
    background-color: #fff;
    color: var(--color);
}

.slider-icon-right {
    position: absolute !important;
    width: 45px;
    height: 40px;
    opacity: 1;
    top: 300px;
    right: 105px;
    color: #fff;
    background-color: var(--mainColor);
}

.slider-icon-right:hover {
    background-color: #fff;
    color: var(--color);
}

.slider-title-font {
    font-size: 45px;
}

.slider-font {
    font-family: var(--liFont-family);
    font-size: var(--mainFont-size);
    opacity: 0.8;
}

.button-slider {
    margin-top: 20px !important;
}

.button-slider button {
    margin: 10px !important;
    width: 132px !important;
    height: 42px !important;
    background-color: var(--mainColor);
    color: #fff;
    border-color: var(--mainColor);
}

.button-slider button:hover {
    background-color: var(--color);
    color: #fff;
    opacity: 100% !important;
    border-color: var(--backgroundColor);
}

.img-button-slider {
    position: absolute !important;
    bottom: -11px !important;
    opacity: 0.1;
}

.img-button-slider img {
    width: 100%;
}


/*************************************section SERVICES*****************************************/

.text-services-center {
    font-family: var(--mainFont-family);
}

.card-services {
    background-color: #fff !important;
    width: 210px !important;
    height: 196px !important;
    border-bottom: solid 5px var(--mainColor);
}

.card-services:hover {
    border-bottom: none;
}

.card-services:hover .card-body {
    background-color: var(--color);
}

.card-services:hover .card-body h5 {
    color: white;
}

.card-services:hover .card-body a i {
    color: white;
}

.card-services:hover .card-body .services-plus {
    background-color: var(--mainColor);
    border: none !important;
}

.card-services h5 {
    color: #989898;
}

.card-text-services {
    font-size: 20px;
    color: var(--mainColor);
    font-family: var(--mainFont-family);
}

.services-plus {
    width: 32px;
    height: 32px;
    background-color: #fff;
    color: var(--mainColor);
    text-align: center;
    text-decoration: none;
}

.services-plus i {
    margin-left: auto !important;
    margin-right: auto !important;
}


/***************************************************Projects**********************************************/


/* Equal Heights for OwlCarousel 2 */

.owl-carousel .owl-stage {
    display: flex;
}

.owl-carousel .owl-item {
    display: flex;
    flex: 1 0 auto;
}

.owl-carousel .thumbnail {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
}

.owl-carousel .thumbnail .caption {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}

.owl-carousel .thumbnail .caption .flex-text {
    flex-grow: 1;
}

.section-projects {
    background-color: var(--color);
    width: 100%;
    height: 630px;
    position: relative;
    background-image: url('../imgs/background/Mask Group 27.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.projects-header {
    width: 100%;
    height: 20%;
    /* background-color: red; */
}

.section-projects-top {
    margin-top: 50px !important;
    color: var(--mainColor);
    font-size: var(--titleFont-size);
}

.section-header-title {
    /* background-image: url('../imgs/background/title.png');
    background-repeat: no-repeat;
    background-size: cover; */
    z-index: 2 !important;
    position: relative;
}

#owl-demo-2 {
    width: 80%;
    height: 100%;
    float: right;
}

.owl-nav {
    width: 10%;
    height: 30%;
    float: right;
    top: 25% !important;
    position: relative;
}


/* position-relative text-Projects-center */

.text-Projects-center {
    top: 45px;
}

.text-Projects-center h2 {
    color: var(--mainColor);
}

.slider-project {
    width: 100%;
    height: 80%;
    position: relative;
    /* bottom: -125%; */
    /* padding-left: 366px !important; */
}

.card-project {
    background: transparent;
    color: #EEEEEE;
    border: none;
}

.card-text-Projects {
    font-size: 20px !important;
}

.link-card-project {
    text-decoration: none;
    color: var(--mainColor);
    top: 95%;
    left: 80%;
}

.prev-project {
    background-color: var(--mainColor);
    color: #fff;
    height: 20%;
    height: 21%;
    padding-left: 15px !important;
    width: 60%;
    padding-top: 4px !important;
    font-family: var(--liFont-family);
}

.prev-project i {
    margin-right: 10px !important;
}

.next-project {
    background-color: var(--mainColor);
    color: #fff;
    height: 20%;
    height: 21%;
    padding-left: 15px !important;
    width: 60%;
    padding-top: 4px !important;
    font-family: var(--liFont-family);
    margin-top: 15px !important;
}

.next-project i {
    margin-left: 10px !important;
}


/*******************************************Our Values******************************************/

.text-OurValues-center {
    top: 30px;
}

.text-OurValues-center h2 {
    color: var(--color);
}

.row-OurValues {
    width: 100%;
    padding-top: 117px !important;
}

.row-OurValues .col {
    text-align: center;
}

.col-OurValues {
    width: 24% !important;
}

.card-OurValues {
    border-bottom: solid 10px var(--mainColor);
}

.img-ourvalues img {
    width: 100%;
    height: 100%;
}

.logo-OurValues {
    width: 120px !important;
    height: 120px !important;
}


/*********************************/

.container-next-ourvalues {
    height: auto !important;
    padding-left: 110px !important;
    width: 100% !important;
}

.img-container-our {
    width: 75% !important;
    height: 100% !important;
}

.img-container-our img {
    width: 100%;
    height: 100%;
}

.img-top-container-our {
    width: 75% !important;
    height: 100% !important;
    position: absolute;
    right: 0px;
    top: 0px;
}

.img-top-container-our img {
    width: 100%;
    height: 100%;
}

.card-container-our {
    width: 403px;
    text-align: center;
    color: #fff;
    background: var(--color);
    position: absolute;
    top: 60px;
    height: 300px;
    left: 175px;
}

.card-container-our-text {
    padding-top: 55px !important;
}

.card-container-our-text .card-text {
    font-size: 24px;
}

.btn-card {
    width: 129px !important;
    height: 34px !important;
    background-color: var(--mainColor);
    color: #fff;
    border: 5px solid var(--mainColor);
    text-align: center;
    text-decoration: none;
}

#carousel-custom-dots {
    text-align: center;
}

.owl-dots li {
    width: 8px;
    height: 8px;
    background: green;
    display: inline-block;
    border-radius: 50%;
}


/***********************************************************/

.slider-bottom-our {
    width: 100%;
    height: 150px !important;
}

.div-item {
    background-color: var(--color);
    height: 100%;
    margin-left: 24px !important;
    padding-top: 7px !important;
}

.slider-bottom-our-img {
    width: 20%;
}

.slider-bottom-our-img img {
    width: 80px !important;
    height: 80px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 42px !important;
}

.slider-bottom-our-text {
    width: 70%;
}


/*****************************************our-client*************************************************/

.container-our-client {
    width: 90%;
    height: 600px !important;
    margin: 0px 110px !important;
}

.our-client-header {
    width: 100%;
    height: 20%;
}

.our-client-header div h2 {
    color: var(--color);
}

.text-our-client {
    width: 30%;
    margin-top: 60px !important;
    float: left;
}

.img-text-our-client {
    padding-top: 7px !important;
}

.img-text-our-client img {
    width: 75%;
}

.title-text-our-client {
    padding-top: 12px !important;
}

.title-text-our-client h4 {
    color: var(--mainColor);
    font-size: 20px !important;
    font-family: var(--mainFont-family);
}

.p-text-our-client h1 {
    font-size: 34px !important;
    font-family: var(--mainFont-family);
    color: var(--color);
    padding-top: 15px !important;
}

.logo-our-client {
    width: 59%;
    margin-left: 150px !important;
    float: left;
}

.row-our-client {
    margin-top: 65px !important;
}

.row-our-client div {
    padding-right: 45px !important;
    margin-bottom: 35px !important;
}

.row-our-client div div img {
    width: 100% !important;
}

.row-our-client div div {
    margin-left: auto !important;
    margin-right: auto !important;
}

.container-our-client-next {
    position: relative;
    width: 100% !important;
    height: 500px !important;
}

.container-our-client-next img {
    width: 100%;
    height: 100%;
}

.container-our-client-next .img-logo {
    position: absolute;
    right: 0px;
    top: 0px;
}

.our-client-cover {
    background-color: var(--backgroundColor);
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.our-client-center {
    background: transparent;
    position: absolute;
    top: 42%;
    right: 53%;
}

.our-client-center-border {
    width: 120px;
    height: 120px;
    border: 2px solid var(--mainColor);
    z-index: 5 !important;
    position: absolute;
}

.our-client-center-border div {
    width: 85%;
    height: 85%;
    border: 2px solid var(--mainColor);
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 9px !important;
}

.our-client-center-border-tx {
    width: 79% !important;
    height: 79% !important;
    background-color: var(--mainColor);
    margin-left: auto !important;
    margin-right: auto !important;
}

.our-client-center-border-tx div {
    width: fit-content;
    height: fit-content;
    position: absolute;
    left: 48%;
    bottom: 37%;
    border: none;
    color: white;
    font-size: 22px !important;
}

.our-client-center-text {
    width: 550px;
    height: 120px;
    z-index: 5 !important;
    position: absolute;
    top: 73%;
    left: 34%;
    color: white;
    font-size: 35px;
    text-align: center;
}


/****************************************************LATEST NEWS**********************************************************/

.latest-news {
    height: 600px;
}

.container-news {
    top: 119px;
    /* left: 105px; */
}

.card-news {
    width: 100%;
}

.card-img-top {
    width: 100%;
    height: 100%;
}

.card-news .card-body .card-title {
    width: 75%;
    background-color: var(--mainColor);
    color: #fff;
    font-size: var(--mainFont-size);
    font-family: var(--liFont-family);
    position: absolute;
    bottom: 28%;
}

.card-news .card-body .card-title .title-card-news {
    font-family: var(--mainFont-family);
    font-size: 20px;
}

.card-news .card-body .card-text {
    font-family: var(--liFont-family);
    font-size: var(--mainFont-size);
    color: #949494;
    width: 85% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.card-news .card-body a {
    text-decoration: none;
    color: var(--mainColor);
    margin-left: 80% !important;
}


/* ******************************************************footer******************************************************** */

.footer {
    background-color: var(--color);
    height: 560px;
    position: relative;
}

.img-bg-footer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 21%;
}

.img-top-footer {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 3;
}

.logo-footer {
    position: absolute;
    top: 50px;
    left: 95px;
}

.p-footer {
    position: absolute;
    top: 130px;
    left: 95px;
    color: #fff;
    width: 30%;
    font-size: 15px;
    font-family: var(--liFont-family);
}

.icon-footer {
    position: absolute;
    top: 55%;
    left: 13%;
}

.ul-icon-footer li a i {
    color: var(--mainColor);
}

.services-footer {
    position: relative;
    top: 12%;
    left: 40%;
    width: 450px;
    color: #fff;
}

.services-footer .title {
    color: var(--mainColor);
    height: 63px;
    font-family: var(--mainFont-family);
}

.ul-services-footer {
    width: 100%;
    position: absolute;
}

.ul-services-footer ul {
    list-style: none;
}

.ul-services-footer ul li::before {
    content: "\2022";
    /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: var(--mainColor);
    /* Change the color */
    font-weight: bold;
    /* If you want it to be bold */
    display: inline-block;
    /* Needed to add space between the bullet and the text */
    width: 1em;
    /* Also needed for space (tweak if needed) */
    margin-left: 2rem;
    /* Also needed for space (tweak if needed) */
}

.contactus-footer {
    position: relative;
    top: 1%;
    left: 74%;
    width: 344px;
    color: #fff;
}

.contactus-footer .title {
    color: var(--mainColor);
    height: 55px;
    font-family: var(--mainFont-family);
}

.ul-contactus-footer ul {
    list-style: none;
}

.ul-contactus-footer ul i {
    color: var(--mainColor);
}

.logo-footer-bottom {
    width: fit-content;
    position: absolute;
    left: 50%;
    bottom: 18%;
}

hr.new5 {
    border: 1px solid var(--mainColor);
    border-radius: 5px;
    z-index: 4 !important;
    position: absolute;
    width: 89% !important;
    bottom: 35px;
    left: 78px;
}

.p-bottom-footer {
    position: absolute;
    bottom: 2px;
    left: 48%;
    color: var(--mainColor);
    opacity: 0.5;
}


/************************************************************CAREER****************************************************************************/

.nav-default {
    background-color: #fff !important;
    background-image: none !important;
    color: var(--color);
    position: relative !important;
}

.nav-link-default {
    color: var(--color) !important;
    font-family: var(--mainFont-family);
    font-size: 13px;
}

.nav-icon-default i {
    color: var(--mainColor) !important;
}

.container-career {
    background-color: var(--color);
    height: 214px;
    position: relative;
    background-image: url('../imgs/career/Mask\ Group\ 33.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.text-career-center {
    background-image: url('../imgs/background/title.png');
    height: 15%;
    width: 15%;
    left: 42% !important;
    top: 37% !important;
    font-family: var(--mainFont-family);
    font-size: var(--titleFont-size);
    color: #fff;
}

.text-career-center .text-center h2 {
    font-family: var(--mainFont-family);
}

.section-header-career {
    text-align: center;
}

.section-header-career div {
    margin-top: 30px !important;
}

.section-header-career div .title {
    color: var(--mainColor);
    font-family: var(--mainFont-family);
    font-size: var(--titleFont-size);
}

.section-header-career div .text-title {
    color: var(--color);
    font-family: var(--mainFont-family);
    font-size: 22px !important;
}

.section-header-career div .text-header {
    color: #9F9F9F;
    font-size: 14px !important;
    font-family: var(--mainFont-family) !important;
}

.section-form-career {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0px 0px 0px 110px !important;
    margin-top: 60px !important;
    margin-bottom: 25px !important;
}

.section-form-career .form-career {
    width: 62%;
    height: 100%;
    display: inline-block;
    position: relative;
}

.section-form-career .form-career form {
    width: 100%;
}

.section-form-career .form-career .title-form {
    color: var(--color);
    font-size: 17px;
    font-family: var(--mainFont-family);
}

.section-form-career .form-career .title-form span {
    color: var(--mainColor);
}

.section-form-career .form-career input {
    width: 100%;
    border: #C7C7C7 1px solid;
    border-radius: 4px;
    height: 40px !important;
}

.section-form-career .form-career input[type="file"] {
    display: none;
}

.section-form-career .form-career .career-file-upload {
    border: #C7C7C7 1px solid;
    width: 100%;
    text-align: end;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.section-form-career .form-career .career-file-upload p {
    width: 78px !important;
    color: var(--color);
    background-color: var(--mainColor);
    float: right;
    margin: 7px 5px !important;
    font-family: var(--liFont-family);
    font-size: 13px !important;
    padding: 5px !important;
}

.section-form-career .form-career textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: #C7C7C7 1px solid;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
    color: var(--color);
}

.section-form-career .form-career .sub-form {
    background-color: var(--color) !important;
    color: #fff !important;
    width: 16% !important;
    margin-top: 13px !important;
}

.section-form-career .img-career {
    width: 38%;
    height: 490px;
    float: right;
    position: relative;
    background-image: url(../imgs/career/Asset\ 3@4x.png);
    background-repeat: round;
    background-size: contain;
    margin-top: 72px !important;
}

.section-form-career .img-career .logo-form-career {
    position: absolute;
    width: 100%;
    height: 578px;
    bottom: -40px !important;
}


/**********************************************************Contact_us*****************************************************/

.section-form-Contact_us {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0px 0px 0px 110px !important;
    margin-top: 60px !important;
    margin-bottom: 25px !important;
}

.section-form-Contact_us .form-Contact_us {
    width: 50%;
    height: 100%;
    display: inline-block;
    position: relative;
}

.section-form-Contact_us .form-Contact_us form {
    width: 100%;
}

.section-form-Contact_us .form-Contact_us .title-form {
    color: var(--color);
    font-size: 17px;
    font-family: var(--mainFont-family);
}

.section-form-Contact_us .form-Contact_us .title-form span {
    color: var(--mainColor);
}

.section-form-Contact_us .form-Contact_us input {
    width: 100%;
    border: #C7C7C7 1px solid;
    border-radius: 4px;
    height: 40px !important;
}

.section-form-Contact_us .form-Contact_us textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: #C7C7C7 1px solid;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
    color: var(--color);
}

.section-form-Contact_us .form-Contact_us .sub-form {
    background-color: var(--color) !important;
    color: #fff !important;
    width: 16% !important;
    margin-top: 13px !important;
}

.section-form-Contact_us .form-Contact_us .form-Contact_us_title {
    margin-bottom: 40px !important;
    width: 38%;
}

.section-form-Contact_us .form-Contact_us .form-Contact_us_title p {
    color: var(--color);
    font-family: var(--mainFont-family);
    font-size: 20PX !important;
}

.section-form-Contact_us .form-Contact_us .form-Contact_us_title img {
    width: 100%;
}


/************************************************************************************************/

.section-form-Contact_us .Contact_Information {
    width: 50%;
    height: 100%;
    float: right;
    position: relative;
    padding-left: 50px !important;
}

.section-form-Contact_us .Contact_Information .form-Contact_us_title {
    margin-bottom: 40px !important;
    width: 38%;
}

.section-form-Contact_us .Contact_Information .form-Contact_us_title p {
    color: var(--color);
    font-family: var(--mainFont-family);
    font-size: 20PX !important;
}

.section-form-Contact_us .Contact_Information .form-Contact_us_title img {
    width: 100%;
}

.section-form-Contact_us .Contact_Information .Contact_us_Information {
    width: 80%;
    margin-top: 44px !important;
}

.section-form-Contact_us .Contact_Information .Contact_us_Information .title {
    color: var(--mainColor);
    font-size: 20px;
    font-family: var(--mainFont-family);
    margin: 15px 0px !important;
}

.section-form-Contact_us .Contact_Information .Contact_us_Information .text {
    color: var(--color);
    font-family: var(--liFont-family);
    font-size: var(--mainFont-size);
}

.section-form-Contact_us .Contact_Information .Contact_us_Information .icon .nav-item .nav-link {
    color: var(--color) !important;
}

.section-form-Contact_us .Contact_Information .Contact_us_Information .icon .nav-item {
    margin-left: 46px !important;
    font-size: 27px;
}


/********************************************************News*************************************************************************/

.col-news {
    height: 100% !important;
    border: #707070 solid 1px;
    box-shadow: 3px 4px 10px 5px rgba(0, 0, 0, 0.16);
    margin: 15px 10px !important;
}

.img-news {
    height: 50% !important;
}

.img-news .title-img-news {
    background-color: var(--mainColor);
    color: #fff;
    font-size: 20px;
    font-family: var(--mainFont-family);
    bottom: 0px;
    width: 25%;
    height: 17%;
    text-align: center;
}

.img-news .title-img-news p {
    margin-top: 7px !important;
}

.text-news {
    width: 100% !important;
    padding-left: 15px !important;
    margin-top: 10px !important;
    margin-bottom: 15px !important;
}

.text-news .text-news-date {
    color: #9F9F9F;
    font-family: var(--liFont-family);
    font-size: var(--mainFont-size);
}

.text-news .text-news-title {
    color: var(--mainColor);
    font-family: var(--mainFont-family);
    font-size: 20px;
}

.text-news .text-news-paragraph {
    color: #9F9F9F;
    font-family: var(--liFont-family);
    font-size: var(--mainFont-size);
    width: 80%;
}

.text-news a {
    bottom: 0px;
    right: 30px;
    background-color: var(--mainColor);
    color: #fff;
    text-decoration: none;
    font-family: var(--liFont-family);
    font-size: var(--mainFont-size);
    width: 16%;
    text-align: center;
    border: rgba(112, 112, 112, 0.5) 1px solid;
    border-radius: 3px;
}